/*
object {
    width: 100%;
    height: auto;
    max-width: 300px;
}*/
.p1 { fill: #1589AD;}
.p2 { fill: #035670;}
.p3 { fill: #1EA4C4;}
.p4 { fill: #066B93;}
.p5 { fill: #1589AD;}
.p6 { fill: #057091;}
.p7 { fill: #1EA4C4;}
.p8 { fill: #1290AD;}
.p9 { fill: #9ADFEF;}
.p10 { fill: #7DD4E2;}
.p11 { fill: #C92B00;}
.p12 { fill: #1EA4C4;}
.p13 { fill: #087799;}
.p14 { fill: #9E1600;}
.p15 { fill: #E28133;}
.p16 { fill: #9E1600;}
.p17 { fill: #770B00;}
.p18 { fill: #C92B00;}
.p19 { fill: #9E1600;}
.p20 { fill: #057091;}